<div class="container-fluid">
	<nav class=" navbar-light bg-light">
	<div class="row">
    <div class="col">
  	<a class="navbar-brand && text-center" href="#"> 
			<div class="form-inline">
				<p class="text-center">
					GoodFellas
				</p>
			</div>
		</a>
    </div>
	</div>
</nav>   
</div>
<div class="container-fluid">
  <nav class=" navbar-light bg-light">
   <div class="w-100"></div>
    <div class="col">
		    <ul class="nav">
			  <li class="nav-item">
				<div class="btn-group" role="group" aria-label="Basic example">
					<button type="button" class="btn btn-outline-danger && nav-link" routerLink="punto-venta/list" routerLinkActive ="active">Punto venta</button>
          <button type="button" class="btn btn-outline-danger">Marcas</button>
          <button type="button" class="btn btn-outline-danger">Modelos</button>
        </div>
        </li>
        </ul> <br>
    </div>
    <div class="w-100"></div>
   <div class="col">
      <router-outlet></router-outlet>
      </div>
  </nav>
</div>